<div class="modal-header">
  <a class="close" data-dismiss="modal">x</a>
  <h3><%= assign.name %></h3>
</div>
<div class="modal-body">
  <p><span style="float:left">Assigned: <%= assign.assigned_date %></span><span style="float:right;">Due: <%= assign.due_date %></span></p>
  <br>
  <div><%= assign.content %></div>
</div>
