<p style="font-size:12px;color:#218B38;font-weight:none">
<span style="float:left;width:160px;margin-top:-10px;"><a href="#"><%=person.email%></a></span>
<span style="float:right;widht:50px;margin-top:-20px;"><img src="http://ejohn.org/files/short.sm.jpg"></img></span>
</p>
