<% for a in assignments[0] %>
    <% 
       name = a.name
       if a.atype==0 
         name = "Class#{a.serial}"
       elsif a.atype==1
         name = "HW#{a.serial}"
       elsif a.atype==2
         name = "Quiz#{a.serial}"
       elsif a.atype==3
         name = "Midterm#{a.serial}"
       end
    %>
    <li><%= name %></li>
<% end %>
