<div class="modal-header">
  <a class="close" data-dismiss="modal">x</a>
  <h3>Syllabus Info</h3>
</div>
<div class="modal-body">
  <ul class="nav nav-tabs">
    <li class="<%if type==0%>active<%end%>"><a href="#syllabus" data-toggle="tab">Syllabus</a></li>
    <li class="<%if type==1%>active<%end%>"><a href="#schedules" data-toggle="tab">Course Schedule</a></li>
    <li class="<%if type==2%>active<%end%>"><a href="#course" data-toggle="tab">Course Material</a></li>
    <li class="<%if type==3%>active<%end%>"><a href="#students" data-toggle="tab">Student List</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane <%if type==0 %>active<% end %>" id="syllabus">syllabus</div>
    <div class="tab-pane <%if type==1 %>active<% end %>" id="schedules">sched</div>
    <div class="tab-pane <%if type==2 %>active<% end %>" id="course">course material</div>
    <div class="tab-pane <%if type==3 %>active<% end %>" id="students">
       <% for c in channel.students %>
         <p><%=c.first_name%> <%=c.last_name%></p>
       <% end%>
    </div>
  </div>
</div>
